.c-matricula{
    width: 60%;
    padding-top: 50px;
    margin: auto;
}
.form_matricula{
    width: 100%;
}
.center-block{
    display: flex;
}
.btnRegistrar{
    width: 250px;
    margin: auto;
}
.c-subtitulo{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}
.subtitulo p{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 18px;
}
.division{
    width: 100%;
    height: 8px;
    background: #007BFF;
    margin: 0 0 30px;
}
